.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: var(--text-normal);
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
}

.markdown-preview-view mark {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: var(--text-normal);
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
    color: inherit;
}
